/*  WIP
@media (prefers-color-scheme: dark) {
  body {
    background-color: #111;
    color: #eee;
  }
} */

a, .btn-link {
  text-decoration: none !important;
}

/* .capability .body {
  padding: 0.5em 1em 0.5em 1em;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.capability .header {
  color: #777;
  font-size: smaller;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 2px 6px 2px 6px;
}
.capability .header + .body {
  outline: none;
} */

.sidebar .nav-item:hover {
  /* background-color: #15362b !important; */
  /* background-color: var(--bs-info-bg-subtle) !important; */
  background-color: var(--bs-info-bg-subtle) !important;
}

/* Make Offcanvas close button white */
.offcanvas .btn-close {
  filter: invert(1) grayscale(100%) brightness(200%);
}


/* Moved to StandAloneComponent
body {
  touch-action: none;
} */




.multi-range-slider * {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}
.multi-range-slider {
	display: flex;
	position: relative;
	/* border: solid 1px gray;
	border-radius: 10px; */
	padding: 20px 10px;
	/* box-shadow: 1px 1px 4px black; */
	flex-direction: column;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge,*/
}
.multi-range-slider .bar {
	display: flex;
}
.multi-range-slider .bar-left {
	width: 25%;
	background-color: #f0f0f0;
	border-radius: 10px 0px 0px 10px;
	box-shadow: inset 0px 0px 5px black;
	padding: 4px 0px;
}
.multi-range-slider .bar-right {
	width: 25%;
	background-color: #f0f0f0;
	border-radius: 0px 10px 10px 0px;
	box-shadow: inset 0px 0px 5px black;
}
.multi-range-slider .bar-inner {
	background-color: limegreen;
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	justify-content: space-between;
	position: relative;
	border: solid 1px black;
	justify-content: space-between;
	box-shadow: inset 0px 0px 5px black;
}
.multi-range-slider .bar-inner-left {
	width: 50%;
}
.multi-range-slider .bar-inner-right {
	width: 50%;
}
.multi-range-slider .thumb {
	background-color: white;
	position: relative;
	z-index: 1;
	cursor: pointer;
}
.multi-range-slider .thumb::before {
	content: '';
	background-color: inherit;
	position: absolute;
	width: 1em;
	height: 1em;
	border: solid 1px black;
	box-shadow: 0px 0px 3px black, inset 0px 0px 5px gray;
	border-radius: 50%;
	z-index: 1;
	margin: -0.25em -0.5em;
	cursor: pointer;
}
.multi-range-slider .input-type-range:focus + .thumb::after {
	content: '';
	position: absolute;
	top: -4px;
	left: -7px;
	width: 11px;
	height: 11px;
	z-index: 2;
	border-radius: 50%;
	border: dotted 1px black;
	box-shadow: 0px 0px 5px white, inset 0px 0px 10px black;
}
.multi-range-slider .caption {
	position: absolute;
	bottom: 35px;
	width: 2px;
	height: 2px;
	left: 1px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: visible;
	display: none;
}
.multi-range-slider .thumb .caption * {
  display: none;
}
/* .multi-range-slider .thumb:active .caption {
	display: flex;
} */
/* .multi-range-slider .input-type-range:focus + .thumb .caption {
	display: flex;
} */
.multi-range-slider .input-type-range {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	opacity: 0;
	pointer-events: none;
}

.multi-range-slider .ruler {
	margin: 10px 0px -5px 0px;
	display: flex;
	/* display: none; */
	overflow: hidden;
}
.multi-range-slider .ruler .ruler-rule {
	border-left: solid 1px;
	border-bottom: solid 1px;
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	padding: 5px 0px;
}
.multi-range-slider .ruler .ruler-rule:last-child {
	border-right: solid 1px;
}

.multi-range-slider .ruler .ruler-sub-rule {
	border-left: solid 1px;
	/* border-bottom: solid 1px; */
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	padding: 3px 0px;
	bottom: 0px;
	margin-bottom: -5px;
}
.multi-range-slider .ruler .ruler-sub-rule:first-child {
	border-left: none;
}

.multi-range-slider .labels {
	display: flex;
	justify-content: space-between;
	padding: 0px;
	margin-top: 10px;
	margin-bottom: -20px;
	/* display: none; */
}
.multi-range-slider .label {
	font-size: 80%;
	display: flex;
	width: 1px;
	justify-content: center;
}
.multi-range-slider .label:first-child {
	justify-content: start;
}
.multi-range-slider .label:last-child {
	justify-content: end;
}
.multi-range-slider.zero-ranage-margin .thumb-left {
	right: 12px;
}
.multi-range-slider.zero-ranage-margin .thumb-right {
	left: 8px;
}


/* Disabled */
.multi-range-slider.disabled {
	border: solid 1px rgb(200, 200, 200);
	box-shadow: 1px 1px 4px rgb(180, 180, 180);
	color:rgb(180, 180, 180);
}
.multi-range-slider .bar {
	display: flex;
}
.multi-range-slider.disabled .bar-left {
	background-color: #c9c9c9;
	box-shadow: inset 0px 0px 5px rgb(160, 160, 160);
}
.multi-range-slider.disabled .bar-right {
	background-color: #c9c9c9;
	box-shadow: inset 0px 0px 5px rgb(160, 160, 160);
}
.multi-range-slider.disabled .bar-inner {
	background-color: rgb(130 243 130);
	border: solid 1px rgb(149, 149, 149);
	box-shadow: inset 0px 0px 5px rgb(103, 103, 103);
}
.multi-range-slider.disabled .thumb {
	background-color: white;
}
.multi-range-slider.disabled .thumb::before {
	border: solid 1px rgb(200, 200, 200);
	box-shadow: 0px 0px 3px rgb(35, 35, 35), inset 0px 0px 5px gray;
}
.multi-range-slider.disabled .input-type-range:focus + .thumb::after {
	border: dotted 1px rgb(35, 35, 35);
	box-shadow: 0px 0px 5px white, inset 0px 0px 10px rgb(35, 35, 35);
}
.multi-range-slider.disabled .thumb .caption * {
	background-color: rgb(84, 84, 137);
	color: rgb(199, 199, 199);
	box-shadow: 0px 0px 5px rgb(35, 35, 35);
}


/* For dark mode to work on capabilities until they directly load a CSS where the
theme is set before the .transitive-bs-root scope (i.e., by the application). */
/* [data-bs-theme=dark] .transitive-bs-root {
  color-scheme: dark;
  --bs-body-color: #dee2e6;
  --bs-body-color-rgb: 222, 226, 230;
  --bs-body-bg: #212529;
  --bs-body-bg-rgb: 33, 37, 41;
  --bs-emphasis-color: #fff;
  --bs-emphasis-color-rgb: 255, 255, 255;
  --bs-secondary-color: rgba(222, 226, 230, 0.75);
  --bs-secondary-color-rgb: 222, 226, 230;
  --bs-secondary-bg: #343a40;
  --bs-secondary-bg-rgb: 52, 58, 64;
  --bs-tertiary-color: rgba(222, 226, 230, 0.5);
  --bs-tertiary-color-rgb: 222, 226, 230;
  --bs-tertiary-bg: #2b3035;
  --bs-tertiary-bg-rgb: 43, 48, 53;
  --bs-primary-text-emphasis: #6ea8fe;
  --bs-secondary-text-emphasis: #a7acb1;
  --bs-success-text-emphasis: #75b798;
  --bs-info-text-emphasis: #6edff6;
  --bs-warning-text-emphasis: #ffda6a;
  --bs-danger-text-emphasis: #ea868f;
  --bs-light-text-emphasis: #f8f9fa;
  --bs-dark-text-emphasis: #dee2e6;
  --bs-primary-bg-subtle: #031633;
  --bs-secondary-bg-subtle: #161719;
  --bs-success-bg-subtle: #051b11;
  --bs-info-bg-subtle: #032830;
  --bs-warning-bg-subtle: #332701;
  --bs-danger-bg-subtle: #2c0b0e;
  --bs-light-bg-subtle: #343a40;
  --bs-dark-bg-subtle: #1a1d20;
  --bs-primary-border-subtle: #084298;
  --bs-secondary-border-subtle: #41464b;
  --bs-success-border-subtle: #0f5132;
  --bs-info-border-subtle: #087990;
  --bs-warning-border-subtle: #997404;
  --bs-danger-border-subtle: #842029;
  --bs-light-border-subtle: #495057;
  --bs-dark-border-subtle: #343a40;
  --bs-heading-color: inherit;
  --bs-link-color: #6ea8fe;
  --bs-link-hover-color: #8bb9fe;
  --bs-link-color-rgb: 110, 168, 254;
  --bs-link-hover-color-rgb: 139, 185, 254;
  --bs-code-color: #e685b5;
  --bs-highlight-color: #dee2e6;
  --bs-highlight-bg: #664d03;
  --bs-border-color: #495057;
  --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
  --bs-form-valid-color: #75b798;
  --bs-form-valid-border-color: #75b798;
  --bs-form-invalid-color: #ea868f;
  --bs-form-invalid-border-color: #ea868f;
} */