/*  WIP
@media (prefers-color-scheme: dark) {
  body {
    background-color: #111;
    color: #eee;
  }
} */

a, .btn-link {
  text-decoration: none !important;
}

/* .capability .body {
  padding: 0.5em 1em 0.5em 1em;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.capability .header {
  color: #777;
  font-size: smaller;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 2px 6px 2px 6px;
}
.capability .header + .body {
  outline: none;
} */

.sidebar .nav-item:hover {
  background-color: #15362b !important;
}

body {
  touch-action: none;
}