.capability {
}

.capability .body {
  padding: 0.5em;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.capability .header {
  color: #ccc;
  background-color: #6669;
  font-size: smaller;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 2px 6px 2px 6px;
}
.capability .header a {
  text-decoration: none;
  color: #eef;
}
.capability .header + .body {
  outline: none;
}
.capability .header:hover + .body {
  outline: 1px solid #aaa;
}
.capability .header:hover {
  outline: 1px solid #aaa;
  background-color: #666;
}
.capability .body:hover + .header {
  background-color: #444;
}
