[Unit]
Description=Transitive Robotics Robot Agent Service
# After=network.target

# Cannot use env variables like $USER but systemd provides some very useful
# specifies: https://www.freedesktop.org/software/systemd/man/systemd.unit.html#Specifiers
[Service]
# EnvironmentFile=%h/.transitive/.env
# EnvironmentFile=-%h/.transitive/.env_user
# WorkingDirectory=%h/.transitive
# ExecStart=%h/.transitive/usr/bin/node node_modules/@transitive-robotics/robot-agent/index.js
# WorkingDirectory=%h/.transitive/node_modules/@transitive-robotics/robot-agent
#ExecStartPre=/bin/bash -c "PATH=%h/.transitive/usr/bin:$PATH exec node npm update --no-save"
#ExecStart=/bin/bash -c "PATH=%h/.transitive/usr/bin:$PATH exec node npm start"

WorkingDirectory=%h/.transitive
ExecStart=/bin/bash start_agent.sh

Restart=always
RestartSec=2

# -- from https://computingforgeeks.com/how-to-run-systemd-service-without-root-sudo/
# SuccessExitStatus=3 4
# RestartForceExitStatus=3 4

# Hardening, see `man systemd.exec`
#MemoryDenyWriteExecute=true
# ^ doesn't work with nodejs, which uses a JIT

#SystemCallArchitectures=native
#NoNewPrivileges=true

[Install]
WantedBy=default.target
