[Unit]
Description=Transitive Robotics Package Service: %i

[Service]
# System call sandboxing
SystemCallArchitectures=native
NoNewPrivileges=true

WorkingDirectory=%h/.transitive
EnvironmentFile=%h/.transitive/.env
# Env file for user to add other things, this file will not be overwritten
EnvironmentFile=-%h/.transitive/.env_user
Environment=TRPACKAGE=%i
ExecStart=%h/.transitive/unshare.sh "/home/usr/bin/startPackage.sh %i"

Restart=always
RestartSec=5
